$main-color-dark: hsl(158, 36%, 37%);
$main-color-light: hsl(30, 38%, 92%);
$secondary-color-dark: hsl(212, 21%, 14%);
$secondary-color-mild: hsl(228, 12%, 48%);
$secondary-color-light: hsl(0, 0%, 100%);
